body {
    background-color: rgb(50, 52, 52);
    font-family: Fixed, monospace;
}

#canvas {
    background-color: rgb(29, 30, 30);
}

#shapes-buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#shapes-buttons button {
    background-color: rgb(227, 234, 234);
    width: 80px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

#shapes-buttons button img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#color-buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* Agregar envoltura para los botones de colores */
}

.color-row {
    display: flex;
    flex-wrap: wrap; /* Agregar envoltura para los botones de colores */
}

#color-buttons button {
    background-color: rgb(227, 234, 234);
    width: 75px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

#thickness-select {
    margin-left: 10px;
}

#thickness {
    width: 60px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 5px;
}

#thickness-select label {
    color: white;
    margin-right: 5px;
}
